
/*#96a79d, #d3eadb, #d3d5d2, #bbb0b6, #aebeb2*/
/* border: [border-width || border-style || border-color | inherit] ; */
.header{
    /* position: relative; */
    background-color:#aebeb2 ;
}
.section{
    background-color: #bbb0b6;
}
.tittle{
    font-size: 3em;
    margin: .5em;
}
.banner{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: .5em solid #d3eadb; ;
    box-shadow: -1px 11px 35px 11px #96a79d;
    -webkit-box-shadow: -1px 11px 35px 11px #96a79d;
    -moz-box-shadow: -1px 11px 35px 11px #96a79d;
}
.bannerImg{
    width: 100%;
    height: auto;
}
body{
    background-color: #bbb0b6;
}
.sectionTittle{
    text-align: center;
    font-size: 1.3em;
    padding: .5em;
    border: .1em solid #000;
}

.navBarMain{
    /* position: sticky; */
    display: flex;
    top: 0;
    background-color: #aebeb2;
}
.navBar{
    min-width: 16em;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 1em;
    /* position: relative; */
    /* left: 60vw; */
    /* top: .5vw; */
}
.navBarButton{
    color: #ffff;
    font-size: 1.2em;
    font-family: ;
    background-color: #5cb748;
    padding: .2em 1em;
    margin: .2em;
    border-radius: 1em;
    /* border: .15em solid #aebeb2; */
    box-shadow: 0px -1px 39px 24px rgba(61,44,219,0.25);
    -webkit-box-shadow: 0px -1px 39px 24px rgba(61,44,219,0.25);
    -moz-box-shadow: 0px -1px 39px 24px rgba(61,44,219,0.25);
}
.navBarButton[href="#"]{
    background-color: #d3eadb;
    color: #000;
}
.section{
}
.logo {
    /* position: relative; */
}
.logo img{
    width: 13em;
}
.article{
    display: flex;
    margin: 2em;
}
.articleItem{
    
    font-size: 1.3em;
    margin: 1.5em;
}
.articleItem p{
    margin-left: 1.3em;
}
.articleImg img{
    max-width: 20em;
}
.simpleArticle{
    margin: 2em;
}