/*#96a79d, #d3eadb, #d3d5d2, #bbb0b6, #aebeb2*/
/* border: [border-width || border-style || border-color | inherit] ; */
.header{
    /* position: relative; */
    background-color:#aebeb2 ;
}
.section{
    background-color: #bbb0b6;
}
.tittle{
    font-size: 2em;
    margin: .2em;
}
.banner{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: .5em solid #d3eadb; ;
    box-shadow: -1px 11px 35px 11px #96a79d;
    -webkit-box-shadow: -1px 11px 35px 11px #96a79d;
    -moz-box-shadow: -1px 11px 35px 11px #96a79d;
}
.bannerImg{
    width: 100%;
    height: auto;
}
body{
    background-color: #bbb0b6;
}
.sectionTittle{
    text-align: center;
    font-size: 1.3em;
    padding: .5em;
    border: .1em solid #000;
}

.navBarMain{
    /* position: sticky; */
    display: flex;
    justify-content: space-between;
    background-color: #aebeb2;
}
.navBar{
    display: flex;
    /* justify-content: flex-end; */
    align-items: end;
    flex-wrap: wrap;
    padding: 1em;
    /* position: relative; */
    /* left: 60vw; */
    /* top: .5vw; */
}
.navBarButton{
    color: #ffff;
    font-size: 1em;
    font-family: ;
    background-color: #5cb748;
    padding: .2em 1em;
    margin: .2em;
    border-radius: 1em;
    /* border: .15em solid #aebeb2; */
    box-shadow: 0px -1px 39px 24px rgba(61,44,219,0.25);
    -webkit-box-shadow: 0px -1px 39px 24px rgba(61,44,219,0.25);
    -moz-box-shadow: 0px -1px 39px 24px rgba(61,44,219,0.25);
}
.navBarButton[href="#"]{
    background-color: #d3eadb;
    color: #000;
}
.section{
}
.logo {
    /* position: relative; */
}
.logo img{
    width: 13em;
}
.article{
    display: flex;
    margin: 2em;
}
.articleItem{
    
    font-size: 1.3em;
    margin: 1.5em;
}
.articleItem p{
    margin-left: 1.3em;
}
.articleImg img{
    max-width: 20em;
}


.simpleArticle{
    margin: 2em;
    display: flex;
    flex-direction: column;
}


.contentTable{
    border-collapse: separate;
    background-color: #ffff;
    border-radius: .3em;
    margin: 1em;
}
.contentTable th{
    background-color: #bbb0b6;
    font-size: 1em;
    padding: 1.4em;
}
.contentTable tr{
    /* background-color: #000; */
    border: 2em solid #000;
    /* border-radius: 10em; */
}
.contentTable td{
    /* background-color: #5cb748; */
    
    font-size: 1em;
    padding: .7em;
}
.tableContainer{
    display: flex;
    justify-content: center;
}
iframe{
    border-radius: .6em;
    max-width: 25em;
    max-height: 15em;
}
.alphaList{
    list-style-type: lower-alpha;
}
.circleList{
    list-style: circle;
}
.simpleList{
    list-style: none;
}

.form{
    background-color: #96a79d;
    padding: .2em;
    border-radius: .5em;
}
fieldset{
    margin: .5em;
    border-radius: .5em;
    background-color: #bbb0b6;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
}
.formFieldData{
    font-size: 1em;

}

/*table responsive*/
@media screen and (max-width: 860px) {
    .contentTable{
        border-collapse: separate;
        background-color: #ffff;
        margin: .3em;
    }
    .contentTable th{
        background-color: #bbb0b6;
        padding: .6em;
    }
    .contentTable tr{
        border: 2em solid #000;
    }
    .contentTable td{
        /* background-color: #5cb748; */
        
        font-size: .8em;
        padding: .3em;
    }
    .tableContainer{
    }
    iframe{
        border-radius: .6em;
        min-width: 15em;
        min-height: 5em;
    }
}